<?xml version="1.0"?>
<launch>

    <!-- <arg name="rvizconfig" default="$(find docking)/config/rviz/docking.rviz" /> -->
    <!-- <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" /> -->

    <node name="dock_gazebo_interactive_marker" pkg="dockbot" type="dock_gazebo_interactive_marker" output="screen"/>

    <!-- <node name="dock_gazebo_interactive_marker" pkg="dockbot" type="dock_gazebo_interactive_marker" launch-prefix="xterm -e gdb"/> -->

</launch>
